*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #1B2223;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 15px;
    color: #f4fefd;    
}

#outter-container{
    display: grid;
    background-color: #3a4f50;
    margin: 0 auto;
    height: 600px;
    width: 400px;
    padding: 10px;
    border-radius: 4px;
}

.screen{
    height: 100px;
    margin: 0 10px;
    background-color: #0ef6cc;
    font-size: 60px;
    text-align: right;
    border-radius: 5px;
        
 }

 button {
     background-color:#f4fefd;    ;
     height: 92px;
     width: 92px;
     font-size: 30px;
     color: #1B2223;
     border-color: #1B2223;
     border-radius: 30px;    

 }

 #zero {
    width: 187px;
 }

 #equals {
     background-color: #0ef6cc;
 }

 button:hover {
     background-color: #90a1a0;
     transition: 0.2s ease-in-out;
     cursor: pointer;
 }

 #equals:hover {
     background-color: #0cb898;
     transition: 0.2s ease-in-out;
     cursor: pointer;
 }

